  body {
    font-family: 'Creepster', cursive;
    text-align: center;
    background-size: cover;
    background-position:center center;
    color: #ffffff;
    height: 100vh;
    cursor: pointer;
    background-color: #696969;
  }
  
/*↓墓石関係のCSS↓*/
.date,.task,.plus,.IUgrave{
  font-size: 30px;
  background-color:#808080;
  border: 3px solid #fff;
  margin-left: auto;
  margin-right: auto;
}
.date{
  border-radius: 50px 50px 0 0;
  width: 500px;
  padding: 25px;
}
.task,.IUgrave{
  margin-bottom: 8px;
  width: 500px;
  height: 50px;
}
.plus{
  border-radius: 30px 30px 0 0;
  width: 550px;
  padding: 25px;
}
.IUgrave,.IUgrave::placeholder{
  color: #ffffff;
}
input:focus,select:focus {
  background-color: #696969;
  /* フォーカス時の背景色を指定 */
}
/*↑墓石関係のCSS↑*/